<h1>Welcome to Tavern!</h1>
<div class="parcel inverted">
    <h3>Easy to use</h3>
</div>
<div>Icons made by <a href="https://www.flaticon.com/authors/iconixar" title="iconixar">iconixar</a> from <a href="https://www.flaticon.com/"             title="Flaticon">www.flaticon.com</a></div>